html {
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;

    h1 {
        font-size: 50px;
        color: #383124;
        text-align: center;
    }
    h2 {
        font-size: 25px;
        color: #60553e;
        text-align: center;
    }
      
    p,
    li {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 1px;
        text-align: center;
    }

    background-color:rgb(230, 220, 198);
    
  }
  